Repository rzr/UnifySDK, changes with the owners that CODEOWNERS names for each.
All owners: @naagarwa, @mamehta, @sushanka, @sabollim, @phcoval, @tabenyhe, @tahornos, @nibertol, @jutiron, @bolabbe, @dethammi, @supratap, @frkillee, @ismaghni, @alautott, @@CICD, @@Documentation, @@UnifyCore, @@UnifyBT, @@UnifyMultiProtcol, @@UnifyIoTServices, @@UnifyFwkServices, @@UnifyZigbee, @@UnifyZWave

CODEOWNERS:

@@@UnifyCore @naagarwa @mamehta @sushanka @sabollim
@@@UnifyZWave @phcoval 
# Temporarily adding core team as reviewer for Zigbee
@@@UnifyZigbee @naagarwa @sushanka @sabollim
@@@UnifyBT @tabenyhe @tahornos
@@@Documentation @naagarwa @mamehta @phcoval @nibertol @tabenyhe @jutiron @bolabbe
@@@UnifyFwkServices @naagarwa @mamehta @sushanka @sabollim
@@@UnifyIoTServices @naagarwa @sushanka @sabollim
@@@CICD @naagarwa @dethammi @sushanka
@@@UnifyMultiProtcol @nibertol @supratap @frkillee @ismaghni @alautott

# Pipeline rule and scripts
Jenkinsfile @@CICD
scripts/ @@CICD

# Documentations
**/*.md @@Documentation
doc/ @@Documentation

components/ @@UnifyCore
docker/ @@UnifyCore
cmake/ @@UnifyCore
portable_runtime/ @@UnifyCore
applications/aox/  @@UnifyBT
applications/bt_host_empty/ @@UnifyBT
applications/cpc-hci-bridge/ @@UnifyBT
applications/cpcd/ @@UnifyMultiProtcol
applications/dev_ui/ @@UnifyIoTServices
applications/examples/ @@UnifyCore
applications/gms/ @@UnifyFwkServices
applications/home_assistant/ @@UnifyIoTServices
applications/image_provider/ @@UnifyFwkServices
applications/nal/ @@UnifyFwkServices
applications/openthread_border_router/ @@UnifyMultiProtcol
applications/upti_cap/ @@UnifyFwkServices
applications/upti_writer/ @@UnifyFwkServices
applications/upvl/ @@UnifyFwkServices
applications/zigbeed/ @@UnifyZigbee
applications/zigpc/ @@UnifyZigbee
applications/zpc/ @@UnifyZWave

CODEOWNERS               @@UnifyCore



# If a group is involved, at least one reviewer of the group must approve
(Check(@@UnifyCore >= 1))
(Check(@@UnifyZigbee >= 1))
(Check(@@UnifyZWave >= 1))
(Check(@@UnifyBT >= 1))
(Check(@@UnifyFwkServices >= 1))
(Check(@@UnifyIoTServices >= 1))
(Check(@@UnifyMultiProtcol >= 1))
(Check(@@CICD >= 1))
(Check(@@Documentation >= 1))

OverallCheck(2)

build: Add npm for dev-ui
  helper.mk
Owners: none

dev_gui: Prefer system yarnpkg over yarn
  applications/dev_ui/dev_gui/CMakeLists.txt
Owners: @@UnifyIoTServices

build: Build devui for zpc
  helper.mk
Owners: none

UIC-3082: ci: github: Lint build action
  .github/workflows/build.yml
Owners: none

UIC-3082: ci: github: Build in all branches
  .github/workflows/build.yml
Owners: none

SWPROT-8953: Disable DEV_GUI as not reproducible
  helper.mk
Owners: none

UIC-3082: ci: github: Upload artifacts
  .github/workflows/build.yml
Owners: none

UIC-3082: build: Install artifacts to dist
  helper.mk
Owners: none

SWPROT-8953: build: Add rootfs script
  scripts/build-rootfs.sh
Owners: @@CICD

SWPROT-8953: ci: github: Disable arm64 rootfs action
  .github/workflows/build-rootfs.yml
Owners: none

SWPROT-8953: ci: github: Add rootfs action
  .github/workflows/build-rootfs.yml
Owners: none

SWPROT-8953: ci: github: Add rootfs action
  .github/workflows/build-rootfs.yml
Owners: none

SWPROT-8953: ci: github: Disable arm64 rootfs action
  .github/workflows/build-rootfs.yml
Owners: none

SWPROT-8953: build: Make more generic
  helper.mk
Owners: none

SWPROT-8953: z-wave: Only build ZPC
  cmake/include/build_permutations.cmake
Owners: @@UnifyCore

SWPROT-8953: build: Make more generic
  helper.mk
Owners: none

SWPROT-8953: build: Allow packaging in project clients once
  cmake/include/package.cmake
Owners: @@UnifyCore

SWPROT-8953: z-wave: Only build ZPC
  cmake/include/build_permutations.cmake
Owners: @@UnifyCore

Build more
  cmake/include/build_permutations.cmake
Owners: @@UnifyCore

SWPROT-8953: build: Update cargo to match unify v7 ci
  helper.mk
Owners: none

SWPROT-8953: build: Allow packaging in project clients once
  cmake/include/package.cmake
Owners: @@UnifyCore

UIC-8953: rust: Allow target triple overide in CMakeCargo too
  cmake/modules/CMakeCargo.cmake
Owners: @@UnifyCore

UIC-3202: Relax compiler warnings to support more compilers
  cmake/include/compiler_options.cmake
Owners: @@UnifyCore

SWPROT-8953: build: cmake: Use Upstream cmock
  CMakeLists.txt
  cmake/modules/FindCMock.cmake
  components/testframework/libs/testframework/CMakeLists.txt
  components/testframework/target_add_unittest.cmake
Owners: @@UnifyCore

SWPROT-8953: doc/assets/img/zigbee: Removed as not part of z-wave-protocol-controller
  doc/assets/img/zigbee/addresstable.png
  doc/assets/img/zigbee/devui.png
  doc/assets/img/zigbee/ncp.png
Owners: @@Documentation

SWPROT-8953: doc/assets/img/Zigbee_logo.png: Removed as not part of z-wave-protocol-controller
  doc/assets/img/Zigbee_logo.png
Owners: @@Documentation

UIC-3077: docker/uic-resources: Removed as not part of UnifyCore
  docker/uic-resources/README.md
  docker/uic-resources/linux/slc_cli_linux.zip
  docker/uic-resources/linux/zap_apack_linux.zip
  docker/uic-resources/mac/slc_cli_mac.zip
  docker/uic-resources/mac/zap-2022.1.10.dmg
  docker/uic-resources/mac/zap_apack_mac.zip
Owners: @@UnifyCore

SWPROT-8953: docker/uic-resources: Removed as not part of UnifyCore
  .gitattributes
Owners: none

UIC-3517: core: Add first_child in attribute.hpp to ease debuging
  components/uic_attribute_store/include/attribute.hpp
Owners: @@UnifyCore

UIC-3544: core: C++ callback for uic_attribute_resolver
  components/uic_attribute_resolver/CMakeLists.txt
  components/uic_attribute_resolver/include/attribute_resolver.hpp
  components/uic_attribute_resolver/include/attribute_resolver_rule.h
  components/uic_attribute_resolver/src/attribute_resolver.cpp
  components/uic_attribute_resolver/src/attribute_resolver_rule.cpp
  components/uic_attribute_resolver/src/attribute_resolver_rule_internal.h
  components/uic_attribute_resolver/src/attribute_resolver_rule_internal.hpp
  components/uic_attribute_resolver/test/attribute_resolver_common_test.cpp
  components/uic_attribute_resolver/test/attribute_resolver_rule_mock.cpp
  components/uic_attribute_resolver/test/workaround.hpp
Owners: @@UnifyCore

UIC-3273: Custom Unify_MultilevelSensor cluster
  applications/examples/applications/emulated_end_device/components/eed_attribute_store/include/multilevel_sensor_cluster_server.cpp
  applications/examples/applications/emulated_end_device/components/eed_attribute_store/include/multilevel_sensor_cluster_server.h
  applications/zpc/components/zcl_cluster_servers/CMakeLists.txt
  applications/zpc/components/zcl_cluster_servers/src/zcl_cluster_servers.cpp
  components/uic_dotdot/dotdot-xml/Unify_MultilevelSensor.xml
  components/uic_dotdot/dotdot-xml/library.xml
  components/uic_dotdot/zap/addon-helper.js
Owners: @@UnifyCore, @@UnifyZWave

UIC-3273: Generated files for Unify_MultilevelSensor Cluster
  applications/dev_ui/dev_gui/zap-generated/src/cluster-types/cluster-type-attributes.ts
  components/uic_dotdot/zap-generated/include/dotdot_attribute_id_definitions.h
  components/uic_dotdot/zap-generated/include/dotdot_cluster_command_id_definitions.h
  components/uic_dotdot/zap-generated/include/dotdot_cluster_id_definitions.h
  components/uic_dotdot/zap-generated/include/zap-types.h
  components/uic_dotdot/zap-generated/readme_ucl_mqtt_reference.md
  components/uic_dotdot/zap-generated/src/dotdot_attribute_id_definitions.c
  components/uic_dotdot/zap-generated/src/dotdot_cluster_id_definitions.c
  components/uic_dotdot_mqtt/zap-generated/include/dotdot_mqtt.h
  components/uic_dotdot_mqtt/zap-generated/include/dotdot_mqtt_attributes.h
  components/uic_dotdot_mqtt/zap-generated/include/dotdot_mqtt_generated_commands.h
  components/uic_dotdot_mqtt/zap-generated/include/dotdot_mqtt_group_commands.h
  components/uic_dotdot_mqtt/zap-generated/include/dotdot_mqtt_helpers.h
  components/uic_dotdot_mqtt/zap-generated/include/dotdot_mqtt_helpers.hpp
  components/uic_dotdot_mqtt/zap-generated/include/dotdot_mqtt_supported_generated_commands.h
  components/uic_dotdot_mqtt/zap-generated/include/dotdot_mqtt_translators.h
  components/uic_dotdot_mqtt/zap-generated/src/dotdot_mqtt.cpp
  components/uic_dotdot_mqtt/zap-generated/src/dotdot_mqtt.hpp
  components/uic_dotdot_mqtt/zap-generated/src/dotdot_mqtt_attributes.cpp
  components/uic_dotdot_mqtt/zap-generated/src/dotdot_mqtt_command_helpers.cpp
  components/uic_dotdot_mqtt/zap-generated/src/dotdot_mqtt_command_helpers.hpp
  components/uic_dotdot_mqtt/zap-generated/src/dotdot_mqtt_generated_commands.cpp
  components/uic_dotdot_mqtt/zap-generated/src/dotdot_mqtt_group_commands.cpp
  components/uic_dotdot_mqtt/zap-generated/src/dotdot_mqtt_helpers.cpp
  components/uic_dotdot_mqtt/zap-generated/src/dotdot_mqtt_supported_generated_commands.cpp
  components/uic_dotdot_mqtt/zap-generated/test/dotdot_mqtt_test.include
  components/unify_dotdot_attribute_store/zap-generated/include/dotdot_attributes.uam
  components/unify_dotdot_attribute_store/zap-generated/include/dotdot_attributes_camel_case.uam
  components/unify_dotdot_attribute_store/zap-generated/include/unify_dotdot_attribute_store_helpers.h
  components/unify_dotdot_attribute_store/zap-generated/include/unify_dotdot_defined_attribute_types.h
  components/unify_dotdot_attribute_store/zap-generated/src/unify_dotdot_attribute_store_attribute_publisher.cpp
  components/unify_dotdot_attribute_store/zap-generated/src/unify_dotdot_attribute_store_force_read_attributes_command_callbacks.c
  components/unify_dotdot_attribute_store/zap-generated/src/unify_dotdot_attribute_store_helpers.cpp
  components/unify_dotdot_attribute_store/zap-generated/src/unify_dotdot_attribute_store_registration.cpp
  components/unify_dotdot_attribute_store/zap-generated/src/unify_dotdot_attribute_store_write_attributes_command_callbacks.c
  components/unify_dotdot_attribute_store/zap-generated/test/unify_dotdot_attribute_store_test.c
  components/unify_dotdot_attribute_store/zap-generated/test/unify_dotdot_attribute_store_test.h
Owners: @@UnifyIoTServices, @@UnifyCore

UIC-3273: Generated files for Unify_MultilevelSensor using latest zap
  applications/examples/applications/emulated_end_device/components/eed_attribute_store/zap-generated/src/eed_attribute_store_clusters.c
  applications/examples/applications/emulated_end_device/components/eed_attribute_store/zap-generated/src/eed_dotdot_create_clusters.cpp
Owners: @@UnifyCore

UIC-3494:dotdot command handlers in ZPC ScheduleEntryLock CC
  applications/dev_ui/dev_gui/zap-generated/src/cluster-types/cluster-type-attributes.ts
  applications/dev_ui/dev_gui/zap-generated/src/cluster-types/cluster-types.ts
  applications/dev_ui/dev_gui/zap-generated/src/cluster-types/supported-clusters.js
  applications/dev_ui/dev_gui/zap/addon-helper.js
  components/uic_dotdot/dotdot-xml/Unify_ScheduleEntryLock.xml
  components/uic_dotdot/dotdot-xml/library.xml
  components/uic_dotdot_mqtt/zap-generated/include/dotdot_mqtt.h
  components/uic_dotdot_mqtt/zap-generated/include/dotdot_mqtt_attributes.h
  components/uic_dotdot_mqtt/zap-generated/include/dotdot_mqtt_generated_commands.h
  components/uic_dotdot_mqtt/zap-generated/include/dotdot_mqtt_group_commands.h
  components/uic_dotdot_mqtt/zap-generated/include/dotdot_mqtt_send_commands.h
  components/uic_dotdot_mqtt/zap-generated/include/dotdot_mqtt_supported_generated_commands.h
  components/uic_dotdot_mqtt/zap-generated/src/dotdot_mqtt.cpp
  components/uic_dotdot_mqtt/zap-generated/src/dotdot_mqtt.hpp
  components/uic_dotdot_mqtt/zap-generated/src/dotdot_mqtt_attributes.cpp
  components/uic_dotdot_mqtt/zap-generated/src/dotdot_mqtt_command_helpers.cpp
  components/uic_dotdot_mqtt/zap-generated/src/dotdot_mqtt_command_helpers.hpp
  components/uic_dotdot_mqtt/zap-generated/src/dotdot_mqtt_generated_commands.cpp
  components/uic_dotdot_mqtt/zap-generated/src/dotdot_mqtt_group_commands.cpp
  components/uic_dotdot_mqtt/zap-generated/src/dotdot_mqtt_helpers.cpp
  components/uic_dotdot_mqtt/zap-generated/src/dotdot_mqtt_send_commands.cpp
  components/uic_dotdot_mqtt/zap-generated/src/dotdot_mqtt_supported_generated_commands.cpp
  components/uic_dotdot_mqtt/zap-generated/test/dotdot_mqtt_test.include
  components/unify_dotdot_attribute_store/zap-generated/include/dotdot_attributes.uam
  components/unify_dotdot_attribute_store/zap-generated/include/dotdot_attributes_camel_case.uam
  components/unify_dotdot_attribute_store/zap-generated/include/unify_dotdot_attribute_store_helpers.h
  components/unify_dotdot_attribute_store/zap-generated/include/unify_dotdot_defined_attribute_types.h
  components/unify_dotdot_attribute_store/zap-generated/src/unify_dotdot_attribute_store_attribute_publisher.cpp
  components/unify_dotdot_attribute_store/zap-generated/src/unify_dotdot_attribute_store_force_read_attributes_command_callbacks.c
  components/unify_dotdot_attribute_store/zap-generated/src/unify_dotdot_attribute_store_helpers.cpp
  components/unify_dotdot_attribute_store/zap-generated/src/unify_dotdot_attribute_store_registration.cpp
  components/unify_dotdot_attribute_store/zap-generated/src/unify_dotdot_attribute_store_write_attributes_command_callbacks.c
  components/unify_dotdot_attribute_store/zap-generated/test/unify_dotdot_attribute_store_test.c
  components/unify_dotdot_attribute_store/zap-generated/test/unify_dotdot_attribute_store_test.h
Owners: @@UnifyIoTServices, @@UnifyCore

UIC-3438: dot dot mapper setup for schedule entry lock CC
  components/uic_dotdot/dotdot-xml/Unify_ScheduleEntryLock.xml
Owners: @@UnifyCore

UIC-3437: Generated files for ScheduleEntryLock using latest zap
  applications/examples/applications/emulated_end_device/components/eed_attribute_store/zap-generated/src/eed_attribute_store_clusters.c
  applications/examples/applications/emulated_end_device/components/eed_attribute_store/zap-generated/src/eed_dotdot_create_clusters.cpp
  components/uic_dotdot/zap-generated/include/dotdot_attribute_id_definitions.h
  components/uic_dotdot/zap-generated/include/dotdot_cluster_command_id_definitions.h
  components/uic_dotdot/zap-generated/include/dotdot_cluster_id_definitions.h
  components/uic_dotdot/zap-generated/readme_ucl_mqtt_reference.md
  components/uic_dotdot/zap-generated/src/dotdot_attribute_id_definitions.c
  components/uic_dotdot/zap-generated/src/dotdot_cluster_id_definitions.c
  components/uic_dotdot_mqtt/zap-generated/include/dotdot_mqtt.h
  components/uic_dotdot_mqtt/zap-generated/include/dotdot_mqtt_generated_commands.h
  components/uic_dotdot_mqtt/zap-generated/include/dotdot_mqtt_group_commands.h
  components/uic_dotdot_mqtt/zap-generated/include/dotdot_mqtt_send_commands.h
  components/uic_dotdot_mqtt/zap-generated/include/dotdot_mqtt_supported_generated_commands.h
  components/uic_dotdot_mqtt/zap-generated/src/dotdot_mqtt.cpp
  components/uic_dotdot_mqtt/zap-generated/src/dotdot_mqtt.hpp
  components/uic_dotdot_mqtt/zap-generated/src/dotdot_mqtt_command_helpers.cpp
  components/uic_dotdot_mqtt/zap-generated/src/dotdot_mqtt_command_helpers.hpp
  components/uic_dotdot_mqtt/zap-generated/src/dotdot_mqtt_generated_commands.cpp
  components/uic_dotdot_mqtt/zap-generated/src/dotdot_mqtt_group_commands.cpp
  components/uic_dotdot_mqtt/zap-generated/src/dotdot_mqtt_send_commands.cpp
  components/uic_dotdot_mqtt/zap-generated/src/dotdot_mqtt_supported_generated_commands.cpp
  components/uic_dotdot_mqtt/zap-generated/test/dotdot_mqtt_test.include
  components/unify_dotdot_attribute_store/zap-generated/test/unify_dotdot_attribute_store_test.c
  components/unify_dotdot_attribute_store/zap-generated/test/unify_dotdot_attribute_store_test.h
Owners: @@UnifyCore

UIC-3437: Report callback Schedule Entry Lock CC
  applications/dev_ui/dev_gui/zap-generated/src/cluster-types/cluster-type-attributes.ts
  components/uic_dotdot/dotdot-xml/Unify_ScheduleEntryLock.xml
  components/uic_dotdot_mqtt/zap-generated/include/dotdot_mqtt.h
  components/uic_dotdot_mqtt/zap-generated/src/dotdot_mqtt.cpp
  components/uic_dotdot_mqtt/zap-generated/src/dotdot_mqtt_command_helpers.cpp
  components/uic_dotdot_mqtt/zap-generated/src/dotdot_mqtt_command_helpers.hpp
  components/uic_dotdot_mqtt/zap-generated/src/dotdot_mqtt_group_commands.cpp
  components/uic_dotdot_mqtt/zap-generated/test/dotdot_mqtt_test.include
  components/unify_dotdot_attribute_store/zap-generated/test/unify_dotdot_attribute_store_test.c
Owners: @@UnifyIoTServices, @@UnifyCore

UIC-3275: Generated files for Application Status Cluster
  components/uic_dotdot_mqtt/zap-generated/include/dotdot_mqtt.h
  components/uic_dotdot_mqtt/zap-generated/include/dotdot_mqtt_attributes.h
  components/uic_dotdot_mqtt/zap-generated/include/dotdot_mqtt_generated_commands.h
  components/uic_dotdot_mqtt/zap-generated/include/dotdot_mqtt_group_commands.h
  components/uic_dotdot_mqtt/zap-generated/include/dotdot_mqtt_helpers.h
  components/uic_dotdot_mqtt/zap-generated/include/dotdot_mqtt_helpers.hpp
  components/uic_dotdot_mqtt/zap-generated/include/dotdot_mqtt_supported_generated_commands.h
  components/uic_dotdot_mqtt/zap-generated/src/dotdot_mqtt.cpp
  components/uic_dotdot_mqtt/zap-generated/src/dotdot_mqtt.hpp
  components/uic_dotdot_mqtt/zap-generated/src/dotdot_mqtt_attributes.cpp
  components/uic_dotdot_mqtt/zap-generated/src/dotdot_mqtt_command_helpers.cpp
  components/uic_dotdot_mqtt/zap-generated/src/dotdot_mqtt_command_helpers.hpp
  components/uic_dotdot_mqtt/zap-generated/src/dotdot_mqtt_generated_commands.cpp
  components/uic_dotdot_mqtt/zap-generated/src/dotdot_mqtt_group_commands.cpp
  components/uic_dotdot_mqtt/zap-generated/src/dotdot_mqtt_helpers.cpp
  components/uic_dotdot_mqtt/zap-generated/src/dotdot_mqtt_supported_generated_commands.cpp
  components/uic_dotdot_mqtt/zap-generated/test/dotdot_mqtt_test.include
  components/unify_dotdot_attribute_store/zap-generated/include/dotdot_attributes.uam
  components/unify_dotdot_attribute_store/zap-generated/include/dotdot_attributes_camel_case.uam
  components/unify_dotdot_attribute_store/zap-generated/include/unify_dotdot_attribute_store_helpers.h
  components/unify_dotdot_attribute_store/zap-generated/include/unify_dotdot_defined_attribute_types.h
  components/unify_dotdot_attribute_store/zap-generated/src/unify_dotdot_attribute_store_attribute_publisher.cpp
  components/unify_dotdot_attribute_store/zap-generated/src/unify_dotdot_attribute_store_force_read_attributes_command_callbacks.c
  components/unify_dotdot_attribute_store/zap-generated/src/unify_dotdot_attribute_store_helpers.cpp
  components/unify_dotdot_attribute_store/zap-generated/src/unify_dotdot_attribute_store_registration.cpp
  components/unify_dotdot_attribute_store/zap-generated/src/unify_dotdot_attribute_store_write_attributes_command_callbacks.c
  components/unify_dotdot_attribute_store/zap-generated/test/unify_dotdot_attribute_store_test.c
  components/unify_dotdot_attribute_store/zap-generated/test/unify_dotdot_attribute_store_test.h
Owners: @@UnifyCore

UIC-3275: Custom Application Status cluster
  components/uic_dotdot/dotdot-xml/Unify_ApplicationStatus.xml
  components/uic_dotdot/dotdot-xml/library.xml
Owners: @@UnifyCore

UIC-3275: Regenerate zap sources using latest version
  applications/examples/applications/emulated_end_device/components/eed_attribute_store/zap-generated/src/eed_attribute_store_clusters.c
  applications/examples/applications/emulated_end_device/components/eed_attribute_store/zap-generated/src/eed_dotdot_create_clusters.cpp
  components/uic_dotdot/zap-generated/include/dotdot_attribute_id_definitions.h
  components/uic_dotdot/zap-generated/include/dotdot_cluster_command_id_definitions.h
  components/uic_dotdot/zap-generated/include/dotdot_cluster_id_definitions.h
  components/uic_dotdot/zap-generated/include/zap-types.h
  components/uic_dotdot/zap-generated/readme_ucl_mqtt_reference.md
  components/uic_dotdot/zap-generated/src/dotdot_attribute_id_definitions.c
  components/uic_dotdot/zap-generated/src/dotdot_cluster_id_definitions.c
  components/uic_dotdot_mqtt/zap-generated/src/dotdot_mqtt.cpp
  components/uic_dotdot_mqtt/zap-generated/src/dotdot_mqtt_command_helpers.cpp
Owners: @@UnifyCore
